@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    max-width: 1920px;
    margin: auto;
    padding: 20px;
    background-color:blanchedalmond;
    
}

.head{
    background: url(./img/_NEH7498.jpg);
}